html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
margin:0;
padding:0;
border:0;
font:inherit;
font-size:100%;
vertical-align:baseline}
html{
line-height:1}
ol,ul{
list-style:none}
table{
border-collapse:collapse;
border-spacing:0}
caption,th,td{
text-align:left;
font-weight:400;
vertical-align:middle}
q,blockquote{
quotes:none}
q:before,q:after,blockquote:before,blockquote:after{
content:"";
content:none}
a img{
border:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
display:block}
html{
font-size:100.01%}
body{
font-size:87.5%;
font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
color:#655740;
line-height:1.5}
h1,h2,h3,h4,h5,h6{
color:#002b36}
h1{
font-size:3em;
line-height:1.1;
margin-bottom:.5em}
h2{
font-size:2em;
line-height:1.2;
margin-bottom:.75em}
h3{
font-size:1.5em;
line-height:1.25;
margin-bottom:1em}
h4{
font-size:1.2em;
line-height:1.3;
margin-bottom:1.25em}
h5{
font-size:1em;
margin-bottom:1.5em}
h6{
font-size:1em}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{
margin:0}
p{
margin:0 0 1.5em}
a{
color:#002b36}
blockquote{
margin:1.5em;
color:#666;
font-style:italic}
strong,dfn{
font-weight:700}
em,dfn{
font-style:italic}
sup,sub{
line-height:0}
abbr,acronym{
border-bottom:1px dotted#666}
address{
margin:0 0 1.5em;
font-style:italic}
del{
color:#666}
pre{
margin:1.5em 0;
white-space:pre}
pre,code,tt{
font-size:1em;
font-family:"andale mono","lucida console",monospace;
line-height:1.5}
ul,ol{
margin:0 1.5em 1.5em 0;
padding-left:1.5em}
ul{
list-style-type:disc}
ol{
list-style-type:decimal}
dl{
margin:0 0 1.5em 0}
dl dt{
font-weight:700}
dl dd{
margin-left:1.5em}
@font-face{
font-family:"FontAwesome";
src:url(http://middlemanapp.com/stylesheets/font/fontawesome-webfont.eot);
src:url(http://middlemanapp.com/stylesheets/font/fontawesome-webfont.eot?) format('eot'),url(http://middlemanapp.com/stylesheets/font/fontawesome-webfont.woff) format('woff'),url(http://middlemanapp.com/stylesheets/font/fontawesome-webfont.ttf) format('truetype'),url(http://middlemanapp.com/stylesheets/font/fontawesome-webfont.svg) format('svg');
font-weight:400;
font-style:normal}
[class^="icon-"]:before,[class*=" icon-"]:before{
font-family:FontAwesome;
font-weight:400;
font-style:normal;
display:inline-block;
text-decoration:inherit}
a [class^="icon-"],a [class*=" icon-"]{
display:inline-block;
text-decoration:inherit}
.icon-large:before{
vertical-align:middle;
font-size:4/3em}
.btn [class^="icon-"],.btn [class*=" icon-"],.nav-tabs [class^="icon-"],.nav-tabs [class*=" icon-"]{
line-height:.9em}
li [class^="icon-"],li [class*=" icon-"]{
display:inline-block;
width:1.25em;
text-align:center}
li .icon-large:before,li .icon-large:before{
width:1.875em}
ul.icons{
list-style-type:none;
margin-left:2em;
text-indent:-.8em}
ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{
width:.8em}
ul.icons li .icon-large:before,ul.icons li .icon-large:before{
vertical-align:initial}
body{
text-rendering:optimizeLegibility;
background:#efe8d5 url('data:image/png;
base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQAgMAAADzfxo+AAAADFBMVEXx6tfv6NXs5dLg3czcnqHfAAAARUlEQVR4Xu2RsQkAIAwEE3UAR3KJOKRLuJeVCOZbBSvhrwjPw3NFxJxqQKTkpOsEJH0sPxZRRFE8lc3pA/Fuzh9tKKJoAr91xp3fgwThAAAAAElFTkSuQmCC');
margin:0}

.logo{
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
overflow:hidden;
display:block;
width:225px;
height:225px}
.container{
*zoom:1;
max-width:83em;
_width:83em;
padding-left:1em;
padding-right:1em;
margin-left:auto;
margin-right:auto;
*zoom:1;
position:relative;
overflow:visible}
.container:after{
content:"";
display:table;
clear:both}
.container:after{
content:"";
display:table;
clear:both}
.console{
font-family:"Arvo","andale mono","lucida console",monospace;
font-weight:400;
line-height:1.2;
word-spacing:.3em}
#footer{
background-color:#e1d7be;
padding:20px 0;
margin-top:30px}
#footer p{
color:#957642;
margin:0;
font-size:13px}
#footer a{
color:#957642;
text-decoration:none}
#footer a:hover{
text-decoration:underline}
#footer .copyright{
display:inline;
float:left}
#footer .link{
display:inline;
float:right}
.toc-block h3{
margin:1.5em 0 .3em 0;
font-weight:700}
.toc-block ul{
list-style-type:none;
margin:0;
padding:0}
.toc-block ul li{
font-size:15px;
line-height:1.3;
padding:6px 0 6px 12px;
border-left:2px solid #e1d7be}
.toc-block ul li a{
text-decoration:none;
display:block}
.toc-block p{
margin:0 0 .5em 0}
#support{
background:#e1d7be;
border:1px solid #d9ccad;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
border-radius:3px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:15.66265%;
float:left;
margin-right:1.20482%;
display:inline;
float:right;
margin-right:0;
#margin-left:-1em;
display:inline;
margin-top:2em}
#support .donate{
padding:1em;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box}
#support .one .bsa_it_ad{
background:transparent;
border:none;
font-family:inherit;
padding:1em;
margin:0;
-o-transition:all .3s linear;
-moz-transition:all .3s linear;
-webkit-transition:all .3s linear;
transition:all .3s linear}
#support .one .bsa_it_ad:hover{
background:#efe8d5}
#support .one .bsa_it_ad.bsa_it_i{
display:block;
padding:0;
float:none;
margin:0 0 5px 0}
#support .one .bsa_it_ad.bsa_it_i img{
max-width:100%;
padding:0;
border:none}
#support .one .bsa_it_ad.bsa_it_d{
padding:0;
font-size:12px;
color:#333}
#support .one .bsa_it_p{
display:none}
#support #bsap_aplink,#support #bsap_aplink:hover{
display:block;
font-size:10px;
margin:12px 15px 0;
text-align:right}
#header{
background:#e1d7be;
border-bottom:1px solid #d9ccad;
margin:0 0 50px 0;
color:#957642}
#header h1{
position:absolute;
left:0;
bottom:-35px}
#header p{
width:70.48193%;
float:left;
margin-right:1.20482%;
display:inline;
margin-left:25.3012%;
font-family:"Arvo","andale mono","lucida console",monospace;
margin-top:14px;
margin-bottom:14px;
font-size:18px}
#header .container{
overflow:visible}
#header .toc-nav-link{
display:none}
#toc{
width:19.87952%;
float:left;
margin-right:1.20482%;
display:inline;
margin-top:15px}
#toc div:first-child h3{
margin-top:0}
#toc footer{
margin:20px 0}
#main{
width:53.61446%;
float:left;
margin-right:1.20482%;
display:inline;
margin-left:4.21687%;
margin-right:4.21687%}
#main h1:first-child{
line-height:1;
font-weight:700}
#main h2,#main h3{
margin-top:2em}
#main pre{
background:#F8F8F8;
-webkit-box-shadow:0 1px 1px #a89a7a inset,0 1px 0 white;
-moz-box-shadow:0 1px 1px #a89a7a inset,0 1px 0 white;
box-shadow:0 1px 1px #a89a7a inset,0 1px 0 white;
padding:.5em 1em;
margin:1.5em 0;
overflow:auto;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px}
#main footer{
border-top:1px solid #c6bda8;
background:#c6bda8;
padding:1em 10px;
overflow:hidden;
*zoom:1}
#main footer p{
margin:0}
#main footer p.left{
display:inline;
float:left}
#main footer p.right{
display:inline;
float:right}
#hero{
padding:50px 0 30px 0;
border-bottom:1px solid #d9ccad;
background:#e1d7be;
text-align:center}
#hero h1{
width:225px;
margin:0 auto 0 auto}
#hero h2{
font-size:36px;
font-family:"Questrial","Helvetica Neue",Arial,Helvetica,sans-serif;
text-shadow:0 0 10px white;
margin:30px 0 30px 0}
#install{
text-align:center;
margin:-15px 0 40px 0}
#install p{
display:inline-block;
color:#F1E7D6;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
padding:15px 25px;
background-color:#957642;
-webkit-box-shadow:0 0 4px 1px rgba(255,255,255,0.7),0 1px 4px 0 #655740 inset;
-moz-box-shadow:0 0 4px 1px rgba(255,255,255,0.7),0 1px 4px 0 #655740 inset;
box-shadow:0 0 4px 1px rgba(255,255,255,0.7),0 1px 4px 0 #655740 inset}
#install b{
font-size:24px}
.intro{
color:#957642;
font-size:15px;
margin:10px auto;
text-align:center}
.sns a{
color:inherit;
text-decoration:none}
.sns a:hover{
text-decoration:underline}
.sns a:hover{
color:inherit}
.sns span{
margin:0 10px}
.grid{
width:83.13253%;
float:left;
margin-right:1.20482%;
display:inline;
*zoom:1}
.grid:after{
content:"";
display:table;
clear:both}
.grid .toc-block{
width:31.70732%;
float:left;
margin-right:2.43902%;
display:inline;
padding:1em 0}
.grid .toc-block:nth-child(3n){
float:right;
margin-right:0}
.grid .toc-block:nth-child(3n+1){
clear:left}
pre .comment,pre .template_comment,pre .diff .header,pre .doctype,pre .lisp .string,pre .javadoc{
color:#93a1a1;
font-style:italic}
pre .keyword,pre .css .rule .keyword,pre .winutils,pre .javascript .title,pre .method,pre .addition,pre .css .tag,pre .lisp .title{
color:#859900}
pre .number,pre .command,pre .string,pre .tag .value,pre .phpdoc,pre .tex .formula,pre .regexp,pre .hexcolor{
color:#2aa198}
pre .title,pre .localvars,pre .function .title,pre .chunk,pre .decorator,pre .builtin,pre .built_in,pre .lisp .title,pre .identifier,pre .title .keymethods,pre .id{
color:#268bd2}
pre .attribute,pre .variable,pre .instancevar,pre .lisp .body,pre .smalltalk .number,pre .constant,pre .class .title,pre .parent,pre .haskell .label{
color:#b58900}
pre .preprocessor,pre .pi,pre .shebang,pre .symbol,pre .diff .change,pre .special,pre .keymethods,pre .attr_selector,pre .important,pre .subst,pre .cdata{
color:#cb4b16}
pre .deletion{
color:#dc322f}
pre .tex .formula{
background:#eee8d5}
@media screen and (max-width:660px){
#support .donate,#support .one{
float:none;
width:auto;
margin-right:auto;
#margin-left:auto;
display:block}
#footer .link{
display:inline;
float:left}
}
@media screen and (max-width:660px){
#header h1{
bottom:-22px;
width:180px;
left:0}
#header h1 .logo{
width:100%;
text-align:center;
background:#002b36;
-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0}
#header h1 .logo img{
width:180px;
height:180px;
position:absolute;
bottom:0;
left:0}
#header p{
display:none}
#header .toc-nav-link{
width:41.66667%;
float:left;
margin-right:16.66667%;
display:inline;
float:right;
margin-right:0;
#margin-left:-1em;
display:inline;
font-family:"Arvo","andale mono","lucida console",monospace;
color:#002b36;
font-weight:700;
text-align:right;
padding:14px 0 16px 0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
text-decoration:none}
#header .toc-nav-link:before{
margin-right:.5em;
font-size:130%;
line-height:1;
vertical-align:bottom}
#toc{
width:100%;
float:left;
margin-right:1.20482%;
display:inline;
float:right;
margin-right:0;
#margin-left:-1em;
display:inline;
height:0;
overflow:hidden}
#toc:target{
padding:1em 0 5em 0;
height:auto}
#toc a{
font-size:120%}
#main{
width:100%;
float:left;
margin-right:1.20482%;
display:inline;
margin-left:0;
margin-right:0;
float:left;
margin-right:1.20482%;
#margin-left:auto;
font-size:120%}
#main h1{
font-size:2em}
#main h2{
font-size:1.5em}
}
