.logo {
  background-color: #444;
  color: #fff;
}

.heading {
  color: #000;
}

.text {
  color: #000;
}

.header {
  background-color: #ddd;
}

.main {
  background-color: #fff;
}

/* ========================= */
/* ここから下は使わないです　*/
/* ========================= */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100.01%;
}

body {
  font-size: 87.5%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #3f3724;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: #1586bf;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.3;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

p {
  margin: 0 0 1.5em;
}

a {
  color: #1586bf;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: 700;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
  font-size: 1em;
  font-family: "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

code, tt {
  font-size: 1em;
  font-family: "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}

dl dt {
  font-weight: 700;
}

dl dd {
  margin-left: 1.5em;
}

body {
  text-rendering: optimizeLegibility;
  background: #c5bfb0;
  margin: 0;
}

.container {
  *zoom: 1;
  max-width: 83em;
  _width: 83em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  position: relative;
  overflow: visible;
}

.container:after {
  content: "";
  display: table;
  clear: both;
  content: "";
  display: table;
  clear: both;
}

#footer {
  background-color: #e1dbc9;
  padding: 20px 0;
  margin-top: 30px;
}

#footer p {
  color: #3f3724;
  margin: 0;
  font-size: 13px;
}

#footer a {
  color: #3f3724;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .copyright {
  display: inline;
  float: left;
}

#footer .link {
  display: inline;
  float: right;
}

.toc-block h3 {
  margin: 1.5em 0 0.3em 0;
  font-weight: 700;
}

.toc-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toc-block ul li {
  font-size: 15px;
  line-height: 1.3;
  padding: 6px 0 6px 12px;
  border-left: 2px solid #e1d7be;
}

.toc-block ul li a {
  text-decoration: none;
  display: block;
}

.toc-block p {
  margin: 0 0 0.5em 0;
}

#support {
  width: 15.66265%;
  float: left;
  display: inline;
  float: right;
  margin-right: 0;
  display: inline;
  margin-top: 2em;
}

#support .donate {
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#support .one .bsa_it_ad {
  background: transparent;
  border: none;
  font-family: inherit;
  padding: 1em;
  margin: 0;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#support .one .bsa_it_ad:hover {
  background: #efe8d5;
}

#support .one .bsa_it_ad.bsa_it_i {
  display: block;
  padding: 0;
  float: none;
  margin: 0 0 5px 0;
}

#support .one .bsa_it_ad.bsa_it_i img {
  max-width: 100%;
  padding: 0;
  border: none;
}

#support .one .bsa_it_ad.bsa_it_d {
  padding: 0;
  font-size: 12px;
  color: #333333;
}

#support .one .bsa_it_p {
  display: none;
}

#support #bsap_aplink {
  display: block;
  font-size: 10px;
  margin: 12px 15px 0;
  text-align: right;
}

#support #bsap_aplink:hover {
  display: block;
  font-size: 10px;
  margin: 12px 15px 0;
  text-align: right;
}

#header {
  background: #e1dbc9;
  border-bottom: 1px solid #d9ccad;
  margin: 0 0 50px 0;
  color: #3f3724;
  height: 55px;
}

#header h1 {
}

#header .container {
  overflow: visible;
}

#header .toc-nav-link {
  display: none;
}

#toc {
  width: 19.87952%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  margin-top: 15px;
}

#toc div:first-child h3 {
  margin-top: 0;
}

#toc footer {
  margin: 20px 0;
}

#main {
  width: 53.61446%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  margin-left: 4.21687%;
  margin-right: 4.21687%;
}

#main h1:first-child {
  line-height: 1;
  font-weight: 700;
}

#main h2, #main h3 {
  margin-top: 2em;
}

#main pre {
  background: #f8f8f8;
  -webkit-box-shadow: 0 1px 1px #a89a7a inset, 0 1px 0 white;
  -moz-box-shadow: 0 1px 1px #a89a7a inset, 0 1px 0 white;
  box-shadow: 0 1px 1px #a89a7a inset, 0 1px 0 white;
  padding: 0.5em 1em;
  margin: 1.5em 0;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#main footer {
  border-top: 1px solid #c6bda8;
  background: #c6bda8;
  padding: 1em 10px;
  overflow: hidden;
  *zoom: 1;
}

#main footer p {
  margin: 0;
}

#main footer p.left {
  display: inline;
  float: left;
}

#main footer p.right {
  display: inline;
  float: right;
}

.color-sample {
  float: right;
}

.color-sample ul, .color-sample li {
  list-style: none;
  color: white;
  padding: 0;
}

.color-sample li {
  padding: 10px;
}

.color-sample .bgcolor-E1DBC9 {
  background: #e1dbc9;
}

.color-sample .bgcolor-C5BFB0 {
  background: #c5bfb0;
}

.color-sample .bgcolor-3F3724 {
  background: #3f3724;
}

.color-sample .bgcolor-1586BF {
  background: #1586bf;
}

.color-sample .bgcolor-746643 {
  background: #746643;
}

.color-sample .bgcolor-062737 {
  background: #062737;
}

.color-sample .bgcolor-3F5466 {
  background: #3f5466;
}

.color-sample .bgcolor-E1DBC9 {
  background: #e1dbc9;
}

.color-sample .bgcolor-F1BD3D {
  background: #f1bd3d;
}